@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Quicksand:wght@700&display=swap');


*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

header {
    text-align: center;
    color: green;
    font-family: Lobster;
}
header p {
    
    font-family: Quicksand;
}
header h1 {
    font-size: 6em;
}
.menu_gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: .5rem;
    margin: 2rem;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;

}
img {
    width: 100%;
    transition: transform .2s ease-in-out;
}
img:hover {
    transform: scale(1.10);
}

footer {
    bottom: 0;
    width: 100%;
    text-align: center;
}
