* {
    margin: 0;
    box-sizing: border-box;
}
header {
    text-align: center;
    color: green;

}

nav {
    color:green;
}
.slide_show {
    margin: 2rem;
}
.slide_images {
aspect-ratio: 1;
display: flex;
overflow-x:scroll;
scroll-behavior: smooth;
scroll-snap-type: x mandatory;
    width: 100%;
}

footer {
    bottom: 0;
    width: 100%;
    text-align: center;
    position: fixed;
}