@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Quicksand:wght@700&display=swap');



* {
    margin: 0;
    box-sizing: border-box;
}
header {
    text-align: center;
    color: green;
    font-family: Lobster;
}
header p {
    font-family: Quicksand;
}
header h1 {
    font-size: 6em;
}

nav {
    color:green;
}
.slide_show {
    margin: 2rem;
}
.slide_images {
    aspect-ratio: 1;
    display: flex;
    overflow-x:scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    width: 100%;
}

footer {
    bottom: 0;
    width: 100%;
    text-align: center;
    position: fixed;
}

.logo-container {
    width: 3rem;
    position: relative;
}

.logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    animation: bounce .5s infinite alternate ease-in-out;
}

@keyframes bounce {
    from {
        transform: translateY(0);
    } to {
        transform: translateY(20px);
    }
}