* {
    margin: 0;
    box-sizing: border-box;
}
header {
    text-align: center;
    color: green;

}

nav {
    color:green;
}

.slide.images {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: .5rem;
    margin: 2rem;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}